<template>
  <section>
    <p>CONTADOR HIJO: {{ contador }} </p>
    <button @click="incrementar(2)">INCREMENTAR DESDE HIJO</button>
    <button @click="decrementar(2)">DECREMENTAR DESDE HIJO</button>
  </section>
</template>
<script>
import contador from './contador'
export default {
  mixins: [contador],
  data () {
    return {
    }
  }
}
</script>
