<template>
  <section>
    <p>CONTADOR PADRE: {{ contador }}</p>
    <button @click="incrementar(3)">INCREMENTAR DESDE PADRE</button>
    <button @click="decrementar(3)">DECREMENTAR DESDE PADRE</button>
    <Hijo></Hijo>
  </section>
</template>
<script>
import Hijo from './Hijo.vue'
import contador from './contador'

export default {
  mixins: [contador],
  components: {
    Hijo
  },
  data () {
    return {
    }
  }
}
</script>
