<template>
  <section>
    {{ saludo }}
  </section>
</template>
<script>
export default {
  data () {
    return {
      saludo: 'Datos personales del tecnico'
    }
  },
  mounted () {
  }
}
</script>
