<template>
  <section>
    {{ saludo }}
    <br>
    <v-btn :to="{ name: 'Usuario' }" color="primary">Ir a Usuarios</v-btn> | 
    <v-btn @click="irARoles()" color="secondary">Ir a Roles</v-btn>
  </section>
</template>
<script>
export default {
  data () {
    return {
      saludo: 'Pagina de inicio'
    }
  },
  methods: {
    irARoles () {
      // PROCESO
      this.$router.push('/app/roles')
    }
  }
}
</script>
