<template>
  <section>

    <v-dialog
      v-model="dialog"
      width="500">

      <v-card>
        <v-card-title class="text-h5 red fg-white">
          Mensaje
        </v-card-title>

        <v-card-text>
          <br>
          El usuario o password son incorrectos
        </v-card-text>

        <v-divider></v-divider>

        <v-card-actions>
          <v-spacer></v-spacer>
          <v-btn
            color="primary"
            text
            @click="dialog = false">
            Ok
          </v-btn>
        </v-card-actions>
      </v-card>
    </v-dialog>

    <v-row justify="center" class="mt-5">
      <v-col cols="12" sm="10" md="8" lg="6">
        <v-card>
        <v-card-title class="text-h4 text-center primary fg-white">
          Login 
        </v-card-title>
          <v-form ref="form" v-model="valid" class="p-1" lazy-validation>
            <v-text-field
              v-model="usuario"
              :rules="usuarioRules"
              label="Usuario"
              required>
              </v-text-field>

              <v-text-field
                v-model="password"
                :append-icon="show1 ? 'mdi-eye' : 'mdi-eye-off'"
                :rules="[rules.required]"
                :type="show1 ? 'text' : 'password'"
                name="input-10-1"
                label="Password"
                @click:append="show1 = !show1">
              </v-text-field>

              <v-select
                v-model="select"
                :items="roles"
                :rules="[v => !!v || 'El rol es requerido']"
                label="Rol"
                required>
                </v-select>

            <br>

            <v-row justify="center">
              <v-col cols="6" sm="6" md="6" lg="6" class="text-center">
                    <v-btn
                      :disabled="!valid"
                      color="success"
                      class="mr-4"
                      @click="login">
                      Login
                    </v-btn>
              </v-col>
              <v-col cols="6" sm="6" md="6" lg="6" class="text-center">
                    <v-btn
                      color="error"
                      class="mr-4"
                      @click="reset">
                      Reset Form
                    </v-btn>
              </v-col>
            </v-row>
          </v-form>
        </v-card>
      </v-col>
    </v-row>
  </section>
</template>
<script>
export default {
  data () {
    return {
      valid: true,
      show1: false,
      usuario: '',
      password: '',
      select: null,
      roles: [
        'Administrador',
        'Técnico'
      ],
      usuarioRules: [
        v => !!v || 'El nombre usuario es requerido',
      ],
      rules: {
         required: value => !!value || 'El password es requerido',
       },
       dialog: false,
    }
  },
  methods: {
    login () {
      //localStorage.setItem('token', 'ESTE-ES-EL-TOKEN')
      //this.$router.push('/app')
      const formValido = this.$refs.form.validate()
      
      if(formValido)
      {
        window.localStorage.removeItem('token-adm')
        window.localStorage.removeItem('token-tec')

        if (this.usuario == 'admin' && this.password == 'admin' && this.select == 'Administrador')
        {
          localStorage.setItem('token-adm', 'ESTE-ES-EL-TOKEN-PARA-ADMIN')
          this.$router.push('/app/admin')
          return;
        }
        if (this.usuario == 'tecnico' && this.password == 'tecnico' || this.select == 'Técnico')
        {
          localStorage.setItem('token-tec', 'ESTE-ES-EL-TOKEN-PARA-TECNICO')
          this.$router.push('/app/tecnico')
          return;
        }
        this.dialog = true
      }
    },

    reset () {
      this.$refs.form.reset()
      this.usuario = ''
      this.password = ''
      this.select = null
    }
  }
}
</script>

<style>
  .p-1{
    padding: 1rem
  }
  .mt-5{
    padding-top: 5rem
  }
  .fg-white{
    color: white
  }
</style>