<template>
  <section class="pa-md-16">
    <v-btn color="primary" class="mb-md-10">AGREGAR</v-btn>
    <v-simple-table>
      <template v-slot:default>
        <thead>
          <tr>
            <th>Acciones</th>
            <th>ID</th>
            <th class="text-left">Nombre</th>
            <th class="text-left">Descripcion</th>
            <th>Fecha Creacion</th>
          </tr>
        </thead>
        <tbody>
          <tr v-for="(rol, index) of roles" :key="index">
            <td>
              <v-btn fab small color="warning">
                <v-icon dark>
                  mdi-pencil
                </v-icon>
              </v-btn>
              <v-btn fab small color="error">
                <v-icon dark>
                  mdi-delete
                </v-icon>
              </v-btn>
            </td>
            <td>{{ index + 1 }}</td>
            <td>{{ rol.nombre }}</td>
            <td>{{ rol.descripcion }}</td>
            <td>{{ rol.fechaCreacion }}</td>
          </tr>
        </tbody>
      </template>
    </v-simple-table>
  </section>
</template>
<script>
export default {
  data () {
    return {
      nombreRol: null,
      roles: [
        {
          id: 1,
          nombre: 'ADMIN',
          descripcion: 'Administrador del sistema',
          fechaCreacion: new Date()
        }
      ]
    }
  },
  mounted () {
    this.nombreRol = this.$route.params.nombre
  }
}
</script>
