<template>
  <section>
    <p>Componente uno</p>
    <p>{{ numUno }} + {{ numDos }}</p>
    <p><button @click="sumar">Sumar Parametros</button></p>
  </section>
</template>
<script>
export default {
  props: {
    numUno: {
      type: Number,
      default: 0
    },
    numDos: {
      type: Number,
      default: 0
    }
  },
  data () {
    return {

    }
  },
  methods: {
    sumar () {
      const suma = this.numUno + this.numDos
      this.$root.$emit('recibir_suma', suma)
    },
    ejecutarEventBus () {
      this.$root.$emit('funcion_event_bus', { numeroDos: 2, numeroUno: 1 })
    }
  }
}
</script>
