<template>
  <section>
    Componente 2
    Resultado de la suma: {{ resultadoComponenteUno }}
  </section>
</template>
<script>
export default {
  data () {
    return {
      resultadoComponenteUno: 0
    }
  },
  mounted () {
    this.$root.$on('funcion_event_bus', ({ numeroUno, numeroDos }) => {
      console.log('RECIBIDO DESDE EVENT BUS COMPONETE DOS', numeroUno, numeroDos)
    })

    this.$root.$on('recibir_suma', (resultado) => {
      this.resultadoComponenteUno = resultado
    })
  }
}
</script>
