<template>
 <section>
   <p>{{ titulo }}</p>
    <p>{{ contador }}</p>
    <slot name="body" :incrementar="incrementarContador">
      Muestre el contenido acá
    </slot>
    <br>
    <slot name="footer">
      Muestre el footer
    </slot>
 </section>
</template>
<script>
export default {
  props: {
    titulo: {
      type: String,
      default: 'SIN TITULO'
    }
  },
  data () {
    return {
      contador: 0
    }
  },
  methods: {
    incrementarContador () {
      this.contador++
    }
  }
}
</script>
