<template>
  <section :style="`background-color: ${background};`">
    <input type="text" v-model="nombreComponente"/>
    <h1>{{ nombre }}</h1>
    <h1>{{ apellidoPaterno }}</h1>
    <h1>{{ apellidoMaterno }}</h1>
    <p>
      {{ persona }}
    </p>
    <p v-for="(persona, index) of listaPersonas" :key="index">
      <span>{{ persona.nombre }} {{ persona.apellidoPaterno }} {{ persona.apellidoMaterno}}</span>
    </p>
    <p>{{ contador }}</p>
    <button @click="incrementar">Incrementar</button>
  </section>
</template>

<script>
export default {
  props: {
    persona: {
      type: Object,
      default: () => { return { edad: 27 } }
    },
    listaPersonas: {
      type: Array,
      default: () => []
    },
    background: {
      type: String,
      default: () => '#FFFFFF'
    },
    nombre: {
      type: String,
      default: 'SIN NOMBRE'
    },
    apellidoPaterno: {
      type: String,
      default: 'SIN APELLIDO PATERNO'
    },
    apellidoMaterno: {
      type: String,
      default: 'SIN APELLIDO MATERNO'
    }
  },
  data () {
    return {
      contador: 0,
      nombreComponente: ''
    }
  },
  beforeMount () {
    console.log('BEFORE MOUNTED')
  },
  mounted () {
    this.nombreComponente = this.nombre
    console.log('DESDE_MOUNTED_')
    console.log(this.listaPersonas)
  },
  destroyed () {

  },
  updated () {

  },
  methods: {
    incrementar () {
      this.contador += 1
    }
  }
}
</script>
