<template>
  <section>
    <p>HOLA DESDE COMPONENTE SALUDO</p>
    <p>COMPONENTE DENTRO DE COMPONENTE</p>
    <Despedida></Despedida>
  </section>
</template>
<script>
import Despedida from './Despedida'
export default {
  components: {
    Despedida
  },
  data () {
    return {

    }
  }
}
</script>
