<template>
  <section>
    <button @click="sumar">Sumar</button>
    Suma: {{ resultado }}
  </section>
</template>
<script>
export default {
  props: {
    numeroUno: {
      type: Number,
      default: 0
    },
    numeroDos: {
      type: Number,
      default: 0
    }
  },
  data () {
    return {
      resultado: 0
    }
  },
  methods: {
    sumar () {
      this.resultado = this.numeroUno + this.numeroDos
      this.$emit('resultado', this.resultado)
    }
  },
  mounted () {
    this.$emit('ejecutar', 'EMIT HIJO')
  }
}
</script>
