<template>
  <section>
    {{ indice }} COMPONENTE TRES
  </section>
</template>
<script>
import mixin from './mixin'

export default {
  mixins: [mixin],
  data () {
    return {

    }
  }
}
</script>
