<template>
  <section>
    {{ indice }} COMPONENTE UNO
  </section>
</template>
<script>
import mixin from './mixin'

export default {
  mixins: [mixin],
  data () {
    return {
    }
  },
  mounted () {
    console.log('DESDE COMPONENTE 1')
  }
}
</script>
