<template>
  <v-app>
    <v-app-bar app color="dark" dense dark>
      <v-app-bar-nav-icon @click="setDrawer()"></v-app-bar-nav-icon>
      <v-toolbar-title>{{ nombrePagina }}</v-toolbar-title>
      <v-spacer></v-spacer>
      <v-btn icon>
        <v-icon>mdi-heart</v-icon>
      </v-btn>
      <v-btn icon>
        <v-icon>mdi-magnify</v-icon>
      </v-btn>

      <v-btn icon @click="logout()">
        <v-icon>mdi-logout</v-icon>
      </v-btn>

      <v-menu left bottom>
        <template v-slot:activator="{ on, attrs }">
          <v-btn icon v-bind="attrs" v-on="on">
            <v-icon>mdi-dots-vertical</v-icon>
          </v-btn>
        </template>
      </v-menu>
    </v-app-bar>

    <v-navigation-drawer app v-model="drawer">
      <v-list-item>
        <v-list-item-content>
          <v-list-item-title class="text-h6">
            Application
          </v-list-item-title>
          <v-list-item-subtitle>
            Rol Administrador
          </v-list-item-subtitle>
        </v-list-item-content>
      </v-list-item>

      <v-divider></v-divider>

      <v-list dense nav>
        <v-list-item v-for="item in items" :key="item.title" link @click="irRuta(item)">
          <v-list-item-icon>
            <v-icon>{{ item.icon }}</v-icon>
          </v-list-item-icon>

          <v-list-item-content>
            <v-list-item-title>{{ item.title }}</v-list-item-title>
          </v-list-item-content>
        </v-list-item>
      </v-list>
    </v-navigation-drawer>
    <v-main>
      <router-view />
    </v-main>
    <v-footer padless>
      <v-col
        class="text-center"
        cols="12">
        <strong>&copy;</strong> - {{ new Date().getFullYear() }}
      </v-col>
    </v-footer>
  </v-app>
</template>
<script>
export default {
  data () {
    return {
      drawer: true,
      nombrePagina: 'Inicio',
      items: [
        { title: 'Inicio', icon: 'mdi-view-dashboard', ruta: '/', name: 'Inicio' },
        { title: 'Usuarios', icon: 'mdi-image', ruta: 'usuarios', name: 'Usuario' },
        { title: 'Roles', icon: 'mdi-help-box', ruta: 'roles', name: 'Rol' }
      ]
    }
  },
  methods: {
    logout () {
      localStorage.clear()
      this.$router.push('/')
    },
    irRuta (itemMenu) {
      if (this.$route.name !== itemMenu.name) {
        this.$router.push({ name: itemMenu.name })
      }
    },
    setDrawer () {
      this.drawer = !this.drawer
    }
  },
  watch: {
    '$route' (to, from) {
      this.nombrePagina = to.name
    }
  }
}
</script>
